<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triwaluyo07.androidsubmission3">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.triwaluyo07.androidsubmission3.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.triwaluyo07.androidsubmission3.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidSubmission3"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.triwaluyo07.androidsubmission3"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.triwaluyo07.androidsubmission3.READ_DATABASE"
            android:writePermission="com.triwaluyo07.androidsubmission3.WRITE_DATABASE" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FavoriteActivity"
            android:label="@string/menu_favorite" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
    </application>

</manifest>